<h1 class="title is-1">All our restaurants</h1>

<p class="content"><%= restaurants.length %> yummy restaurants added...so far</p>
<div class="container">
  <% restaurants.forEach(restaurant => { %>
    <div class="box">
      <a href="/restaurants/<%= restaurant.id %>">
      <div class="columns">
        <div class="column is-one-third">
          <img class="image is-medium" src=<%= restaurant.photo %> alt=<%= restaurant.name %> />
        </div>
        <div class="column is-two-thirds">
          <h2 class="title is-1 is-uppercase"><%= restaurant.name %></h2>
        <div class="columns">
          <div class="column is-half">
            <h3 class="subtitle is-4"><%= restaurant.description %></h3>
          </div>
          <div class="column is-half has-text-right">
            <h3 class="subtitle is-4"><%= restaurant.city%>, <%= restaurant.postcode %></h3>
            <h3 class="subtitle is-4"><%= restaurant.cuisine %></h3>
            <h3 class="subtitle is-4"><%= restaurant.averageRating %>â­ï¸</h3>
          </div>
        </div>
        </div>
      </div>
      </a>
    </div>
  <% }) %>
</div>
