<div class="columns">
  <div class="column is-one-third">
    <img class="image is-large" src=<%= restaurant.photo %> alt=<%= restaurant.name %> />
    <div class="section">
      <h2 class="subtitle is-3 has-text-centered">Reviewer Photos</h2>
      <div class="columns is-multiline is-gapless">
        <% restaurant.comments.forEach(comment => { %>
          <% if (comment.moderated) { %>
            <div class="column is-one-third">
              <img class="image is-128x128" src=<%= comment.imgUrl %> />
            </div>
          <% } %>
        <% }) %>
      </div>
    </div>
    <% if (locals.currentUser) { %>
      <% if (currentUser.username === restaurant.addedBy) { %>
        <div class="section">
          <div class="level">
            <div class="level-left">
              <a class="button is-primary" href="/restaurants/<%= restaurant.id %>/edit">Edit</a>
            </div>
            <div class="level-right">
              <form action="/restaurants/<%= restaurant.id %>" method="POST">
                <button class="button is-primary">Delete</button>
                <input type="hidden" name="_method" value="DELETE">
              </form>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
  <div class="column is-two-thirds">
    <h1 class="title is-1"><%= restaurant.name %></h1>
    <p><%= restaurant.address %>, <%= restaurant.city %>, <%= restaurant.postcode %></p>
    <a href="<%= restaurant.url %>">Website</a>
    <p>Added by <%= restaurant.addedBy %></p>
    <div class="columns">
      <div class="column is-half">
        <%= restaurant.description %>
        <%= restaurant.cuisine %>
      </div>
      <div class="column is-half">
        <%= restaurant.price %>
        <%= restaurant.averageRating %> ⭐️
      </div>
    </div>
  </div>
</div>
<%- include('../comments/index', { restaurant }) %>
