<div class="columns">
  <div class="column is-one-third">
    <img class="image is-large" src=<%= restaurant.photo %> alt=<%= restaurant.name %> />

    <% if (locals.currentUser) { %>
      <% if (currentUser.username === restaurant.addedBy) { %>
        <div class="section">
          <div class="level">
            <div class="level-left">
              <a class="button azure" href="/restaurants/<%= restaurant.id %>/edit">Edit</a>
            </div>
            <div class="level-right">
              <form action="/restaurants/<%= restaurant.id %>" method="POST">
                <button class="button peach">Delete</button>
                <input type="hidden" name="_method" value="DELETE">
              </form>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
  <div class="column is-two-thirds">
    <div class="section">
      <h1 class="title is-1 is-uppercase"><%= restaurant.name %></h1>
    </div>
    <div class="section">
      <div class="columns">
        <div class="column is-half">
          <p><%= restaurant.address %>, <%= restaurant.city %>, <%= restaurant.postcode %></p>
          <p><a href="<%= restaurant.url %>">Website</a></p>
          <p>Added by <%= restaurant.addedBy %></p>
          <h3 class="subtitle is-5"><%= restaurant.description %></h3>
        </div>
        <div class="column is-half has-text-right">
          <h3 class="subtitle is-4"><%= restaurant.averageRating %> ⭐️</h3>
          <h3 class="subtitle is-5"><%= restaurant.cuisine %></h3>
          <h3 class="subtitle is-5"><%= restaurant.price %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <h2 class="subtitle is-3 has-text-left">Reviewer Photos</h2>
    <div class="columns is-multiline is-gapless">
      <% restaurant.comments.forEach(comment => { %>
        <% if (comment.moderated) { %>
          <div class="column is-one-third">
            <img class="image is-128x128" src=<%= comment.imgUrl %> />
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
  <div class="column is-two-thirds">
    <h2 class="subtitle is-3 has-text-left">Add a Review</h2>
    <%- include('../comments/index', { restaurant }) %>
  </div>
</div>
