<div class="columns">
  <div class="column is-one-third">
    <img src=<%= restaurant.photo %> alt=<%= restaurant.name %> />
    <% if (locals.isLoggedIn) { %>
      <div class="section">
        <div class="level">
          <div class="level-left">
            <a class="button is-primary" href="/restaurants/<%= restaurant.id %>/edit">Edit</a>
          </div>
          <div class="level-right">
            <form action="/restaurants/<%= restaurant.id %>" method="POST">
              <button class="button is-primary">Delete</button>
              <input type="hidden" name="_method" value="DELETE">
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="column is-two-thirds">
    <h1 class="title is-1"><%= restaurant.name %></h1>
    <p><%= restaurant.address %>, <%= restaurant.city %>, <%= restaurant.postcode %></p>
    <a href="<%= restaurant.url %>">Website</a>
    <p>Added by <%= user.username %></p>
    <div class="columns">
      <div class="column is-half">
        <%= restaurant.description %>
        <%= restaurant.cuisine %>
      </div>
      <div class="column is-half">
        <%= restaurant.price %>
      </div>
    </div>
  </div>
</div>
<%- include('../comments/index', { restaurant }) %>
